@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant
@if (ViewBag.CuisinesAreEmpty == true)
{
  <p>You must have at least one cuisine type before you can add a restaurant</p>
}
else
{
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(Model => Model.Name,new { @class = "form-control" })
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Description)
      @Html.TextBoxFor(model => model.Description,new { @class = "form-control" })
    </div>
    <div class="form-group">
      @Html.Label("Cuisine Type")
      @Html.DropDownList("CuisineId")
    </div>
    <input type="submit" value="create new restaurant" class="btn btn-success">
  }
}
