@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId);
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(Model => Model.Name,new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Description);
    @Html.EditorFor(model => model.Description,new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.Label("Cuisine Type")
    @Html.DropDownList("CuisineId")
  </div>
  <input type="submit" value="Edit this restaurant" class="btn btn-success">
}